@import "../styles/main.css";

#user-edit-wrapper {
    text-align: center;
}

#user-edit-wrapper h1{
    margin-bottom: 50px;
}

#user-edit-wrapper #add-user-form {
    display: inline-block;
}

#user-edit-wrapper .error {
    font-size: 14px;
    color: red;
}

#user-edit-wrapper #flexbox {
display: flex;
flex-direction: column;
align-items: center;
}

@media (min-width: 768px) {
    #user-edit-wrapper #add-user-form {
        width: 40%;
    }
    #user-edit-wrapper #add-user-form .custom-btn {
        width: 30%;
    }
}
@media (max-width: 767px) {
    #user-edit-wrapper #add-user-form {
        width: 90%;
    }
    #user-edit-wrapper #add-user-form .custom-btn {
        width: 60%;
    }
}