@import "../styles/main.css";

#station-detail-wrapper {
    text-align: center;
}

#station-detail-wrapper  h1{
    margin-bottom: 50px;
}

#station-detail-wrapper  #edit-station-form {
    display: inline-block;
}

#station-detail-wrapper  .error {
    font-size: 14px;
    color: red;
}

#station-detail-wrapper  #flexbox {
display: flex;
flex-direction: column;
align-items: center;
}

@media (min-width: 768px) {
    #station-detail-wrapper  #edit-station-form  {
        width: 40%;
    }
    #station-detail-wrapper  #edit-station-form  .custom-btn {
        width: 30%;
    }
}
@media (max-width: 767px) {
    #station-detail-wrapper  #edit-station-form  {
        width: 90%;
    }
    #station-detail-wrapper  #edit-station-form  .custom-btn {
        width: 60%;
    }
}