@import "../styles/main.css";

#wrapLogin{
  margin-top: 10%;
}
.box-form{
  display: inline-block;
  box-shadow: 0px 10px 35px rgb(0 0 0 / 5%);
  padding: 40px;
}
h1{
    margin-bottom: 50px;
}
div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
  font-size: 14px;
  color: red;
}

@media (min-width: 768px) {
    .box-form{
        max-width: 500px;
        min-width: 450px;
      }
}
@media (max-width: 767px) {
    .box-form{
        max-width: 450px;
        min-width: 300px;
      }
}