:root {
    --border-radius: 10px;
    --sidebar-main-color: #57b570;
    --sidebar-second-color: #478f5b;
    --main-color-one: #1a2815;
    --main-color-two: #dbff78;
    --footer-color: #f0f0f0;
}

.custom-btn {
    background-color: var(--sidebar-main-color);
    color: #fff;
    padding: 12px 0px;
    display: inline-block;
    border-radius: 10px;
    border: none;
}