:root {
    --border-radius: 10px;
    --sidebar-main-color: #57b570;
    --sidebar-second-color: #478f5b;
    --main-color-one: #1a2815;
    --main-color-two: #dbff78;
    --footer-color: #f0f0f0;
}

.custom-btn {
    background-color: var(--sidebar-main-color);
    color: #fff;
    padding: 12px 0px;
    display: inline-block;
    border-radius: 10px;
    border: none;
}

.custom-btn:hover {
    background-color: #46cc6a;
}

.shadow-box {
    display: inline-block;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 10%);
    padding: 40px;
    width: 90%;
    border-radius: var(--border-radius);
}